dist/_projectMgr_noop.js
.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.*
*.json
node_modules
!node_modules/serialport
!node_modules/@serialport
!node_modules/debug
!node_modules/ms
!node_modules/node-gyp-build